# An Informal Introduction to Python

[Python 3 Tutorial](https://docs.python.org/3.6/tutorial/introduction.html)

In [1]:
import sys
print(sys.version)

3.6.3 |Anaconda custom (64-bit)| (default, Nov  3 2017, 19:19:16)
[GCC 7.2.0]

***

## Using Python as a Calculator

Learning Outcomes:
* data type - integer, float
* operands
* variable name
* value assignment
* determining data types

### Working with Numbers

[PERMDAS](https://acronyms.thefreedictionary.com/PERMDAS)

Parantheses, Exponents, Roots, Multiplication, Division, Addition, Subtraction

In [2]:
2 + 3    # Addition

5

In [3]:
6 - 4    # Subtraction

2

In [4]:
20 / 4   # Division. Always return a float

5.0

In [5]:
6 * 7    # Multiplication

42

In [6]:
(3 + 5) / 2 # Parentheses

4.0

In [7]:
21 / 4    # Normal division

5.25

In [8]:
21 // 4.  # Floor division. Fractional part is discarded

5.0

In [9]:
21 % 4.   # Remainder

1.0

In [10]:
2 ** 4.   # Power

16.0

When integers are mixed with floating point numbers, it will be converted to floating point

In [11]:
3 * 8.75 - 2.   # Mixing intergers and floating point

24.25

### Value Assignment

In [12]:
no_rows = 5    # Assigning 5 to the variable no_rows

In [13]:
no_seats_per_row = 10

In [14]:
no_rows * no_seats_per_row

50

In [15]:
m    # This will cause an error as we have not assigned a value

NameError: name 'm' is not defined

### Determine the data type

In [16]:
type(4)

int

In [17]:
type(4.)

float

In [18]:
4 + 5

9

In [19]:
type(4 + 5)

int

In [20]:
4 + 5

9

In [21]:
_ + 1    # Last result is stored in the variable _

10

***

## Strings

Learning outcomes:
* objection creation with `'...'` and `"..."`
* syntax
* print()
* special keys - `\`
* concatenation
* working with strings
* indexing
* slicing
* immutability of strings
* length of strings

Strings can be enclosed in single quote(`'...'`) or double quote(`"..."`)

In [22]:
'last emperor'    # Single quote

'last emperor'

In [23]:
"latest GMAT score"    # Double quote

'latest GMAT score'

In [24]:
'Emperor's new clothes

SyntaxError: invalid syntax (<ipython-input-24-15ba3ba1435d>, line 1)

In [25]:
"Emperor's new clothes"    # Use double quote to work around the single quote

"Emperor's new clothes"

In [26]:
'Emperor\'s new clothes'    # Or use `\` to work around the single quote

"Emperor's new clothes"

In [27]:
print('line one')
print('line two')

line one
line two

In [28]:
print('C:\Dropbox\new')

C:\Dropbox
ew

`\n` means new line. To work around this, add `r` before the first quote. Thus, informing Python to use *raw strings* within the quotation.

In [29]:
print(r'C:\Dropbox\new')

C:\Dropbox\new

In [30]:
print("""
Last I checked, kinetic energy is 
greatest when the pendulum is swinging
""")

Last I checked, kinetic energy is
greatest when the pendulum is swinging

In [31]:
print("""\
Last I checked, kinetic energy is 
greatest when the pendulum is swinging
""")

Last I checked, kinetic energy is
greatest when the pendulum is swinging

The `\` prevents automatic inclusion of end of line

In [32]:
"I love" + " Python"

'I love Python'

`+` concatenate two strings

In [33]:
10 * "Python "

'Python Python Python Python Python Python Python Python Python Python '

In [34]:
"Python" " red"

'Python red'

Note automatic concatenation of two or more *string literals* (fancy word for string in quotation) when they are next to each other.

In [35]:
sentence = ('My dear wife listens to '
            'the latest K-pop')

In [36]:
sentence

'My dear wife listens to the latest K-pop'

In [37]:
prefix = 'ard'

In [38]:
prefix 'uino'

SyntaxError: invalid syntax (<ipython-input-38-e5835f240f45>, line 1)

variable cannot be concatenate to *string literal*

In [39]:
prefix + 'uino'

'arduino'

### Indexing

Python uses 0-based indexing

In [40]:
sentence = "Arduino Project Book"

In [41]:
sentence[0]    # character in position 0

'A'

In [42]:
sentence[4]    # character in position 5

'i'

In [43]:
sentence[-1]

'k'

In [44]:
sentence[-4]

'B'

### Slicing

In [45]:
sentence

'Arduino Project Book'

In [46]:
sentence[0:3]

'Ard'

In [47]:
sentence[8:15]

'Project'

In [48]:
sentence[-4:]

'Book'

In [49]:
sentence[14:24]

't Book'

In [50]:
sentence[24]

IndexError: string index out of range

In [51]:
sentence[24:]    # note no error message

''

### Strings are Immutable

Python strings immutable, meaning the value cannot be changed.

In [52]:
sentence[0] = 'M'

TypeError: 'str' object does not support item assignment

In [53]:
'M' + sentence[1:]

'Mrduino Project Book'

In [54]:
len(sentence)

20

***

## Lists

Learning outcomes
* objection creation and comma-separated items with square brackets `[...]`
* indexing
* slicing
* Lists are mutable
* adding new items by using `append()`
* value assignment
* lenght of list
* nesting list

In [55]:
list_of_numbers = [2, 4, 6, 8, 10]

In [56]:
list_of_numbers

[2, 4, 6, 8, 10]

Lists can be `indexed` and `sliced`

In [57]:
list_of_numbers[2]

6

In [58]:
list_of_numbers[-1]

10

In [59]:
list_of_numbers[2:5]

[6, 8, 10]

In [60]:
list_of_numbers + list_of_numbers

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

Lists are `mutable`. Hence their contents can be modified

In [61]:
list_of_numbers

[2, 4, 6, 8, 10]

In [62]:
list_of_numbers[2] = 44

In [63]:
list_of_numbers

[2, 4, 44, 8, 10]

Add new items by using `append()` method.

In [64]:
list_of_numbers.append(20)

In [65]:
list_of_numbers

[2, 4, 44, 8, 10, 20]

Assignment of values to slices

In [66]:
list_of_numbers

[2, 4, 44, 8, 10, 20]

In [67]:
list_of_numbers[0:2] = ['m', 'n']

In [68]:
list_of_numbers

['m', 'n', 44, 8, 10, 20]

In [69]:
list_of_numbers[3:6] = []

In [70]:
list_of_numbers

['m', 'n', 44]

In [71]:
len(list_of_numbers)

3

Nest lists (List that contains other list)

In [72]:
m = ['John', 'Mary', 'Joseph']
n = [66, 24, 10]

In [73]:
p = [m, n]

In [74]:
p

[['John', 'Mary', 'Joseph'], [66, 24, 10]]

In [75]:
p[0]

['John', 'Mary', 'Joseph']

In [76]:
p[0][2]

'Joseph'

***

## First Steps Towards Programming

[Link](https://docs.python.org/3.6/tutorial/introduction.html#first-steps-towards-programming)

Learning outcome:
* multiple assignment
* flow control - `while` loop
* code block and indentation
* `print()`
* assignment and evaluation




Let's write a simple program that calculate the cube for the first 5 numbers

In [77]:
i, j = 1, 0    # multiple assignment
while i < 6:    # while loop executes as long as the condition is true
    print("[INFO #{0}] The Cube of {1} is {2}".format(j, i, i ** 3))
    i += 1       # expression on the right is evaluated first before assignment take place     
    j = j + 1    # expression on the right is evaluated first before assignment take place

[INFO #0] The Cube of 1 is 1
[INFO #1] The Cube of 2 is 8
[INFO #2] The Cube of 3 is 27
[INFO #3] The Cube of 4 is 64
[INFO #4] The Cube of 5 is 125

* \[Line 1\] The first line contains a multiple assignment. `i` and `j` get the new values 1 and 0.
* \[Line 2\] The while loop executes as long as the condition (here: `i < 6`) remains true. 
    * In Python, any non-zero integer value is true; zero is false. 
    * The condition may also be a string or list value, in fact any sequence; 
        * anything with a **non-zero** length is **true**, 
        * **empty** sequences are **false**. 
    * The standard comparison operators are: 
        * `<` (less than), 
        * `>` (greater than), 
        * `==` (equal to), 
        * `<=` (less than or equal to), 
        * `>=` (greater than or equal to) and 
        * `!=` (not equal to).

* The body of the loop is indented: indentation is Python’s way of grouping statements. Note that each line within a basic block must be indented by the same amount. The standard indentation is by 4 spaces.
* \[Line 3\] The `print()` function writes the value of the argument(s) it is given.
* \[Line 4\] The expressions on the right-hand side are all evaluated first before any of the assignments take place. The right-hand side expressions are evaluated from the left to the right.

***

# References:

* [Python Tutorial](https://docs.python.org/3.6/tutorial/index.html)
* [Geeks for Geeks](https://www.geeksforgeeks.org/python/)
* [Python for Econometrics](https://www.kevinsheppard.com/Python_for_Econometrics)
* [Python Course](https://www.kevinsheppard.com/Python_Course)

***